@import url("https://fonts.googleapis.com/css2?family=Hurricane&display=swap");
.container_posteos {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start; }

.posts {
  margin-left: 0.5%; }
  .posts section {
    background-color: black;
    margin-top: 0.5%;
    color: #fa8908;
    border-radius: 10px;
    padding: 0.5%; }
    .posts section article {
      margin-left: 1%; }
    .posts section p {
      color: bisque;
      margin-left: 3%; }
    .posts section h5 {
      text-align: right;
      color: #f3ab59;
      margin-right: 0.5%; }
    .posts section a {
      color: #f3ab59; }
    .posts section a:hover {
      color: #f8bc72; }

.carousel-item > img {
  vertical-align: 0%; }

.publicar_boton {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  margin-top: 10px; }

.publicar {
  background-color: black;
  color: white;
  padding: 20px;
  border-radius: 10px; }

.carrusel_videos {
  margin-top: 5%;
  text-align: center;
  width: 80%;
  margin-left: 10%; }

.negro {
  background-color: black; }

.izquierda {
  justify-content: flex-start; }

.derecha {
  justify-content: flex-end; }

.carrusel_item {
  width: 32%; }

.container_cuenta {
  display: flex;
  justify-content: center;
  margin-bottom: 3%;
  margin-top: 1%; }

fieldset {
  border: none; }

.cuenta {
  display: flex;
  flex-direction: column;
  color: #fa8908;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 2%;
  border-radius: 25px; }
  .cuenta p {
    background-color: black;
    color: #fa8908;
    display: block;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 25px;
    margin-top: 10px;
    padding: 1.5%; }
  .cuenta a {
    color: #fa8908;
    margin-top: 25px; }
  .cuenta a:hover {
    color: #f3ab59; }

label {
  background-color: black;
  color: #fa8908;
  display: block;
  margin-left: 30%;
  margin-right: 30%;
  border-radius: 25px;
  margin-top: 10px;
  padding: 1.5%; }

#GET-name, #GET-password {
  background-color: black;
  color: white;
  margin: 10px 15px;
  text-align: center;
  padding: 20px; }

.crear_cuenta {
  background-color: rgba(0, 0, 0, 0.75);
  text-align: center;
  border-radius: 25px; }
  .crear_cuenta p {
    background-color: black;
    color: #fa8908;
    display: block;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 25px;
    margin-top: 10px;
    padding: 1.5%; }

#create-user, #create-password, #GET-email {
  background-color: black;
  color: white;
  margin: 10px 15px;
  padding: 20px; }

::-ms-reveal {
  border: 1px solid transparent;
  border-radius: 50%;
  box-shadow: 0 0 3px black;
  background-color: white; }

.licencia p {
  background-color: black;
  color: #fa8908; }

.licencia a:hover {
  color: #f3ab59; }

#create-acc {
  width: 55%;
  align-self: center;
  border-radius: 25px;
  text-shadow: 3px 2px 1px #9daef5;
  box-shadow: 6px 5px 24px #666666;
  font-family: Arial;
  color: black;
  font-size: 25px;
  padding: 15px;
  text-decoration: none;
  background-image: linear-gradient(to bottom, #eb94d0, #2079b0); }

#create-acc:active {
  background-image: linear-gradient(to bottom, #2079b0, #eb94d0); }

.container_eula {
  display: flex;
  justify-content: center; }

#eula {
  text-align: center; }

.boton {
  text-align: center; }

#global {
  margin-top: 3%;
  height: 50vh;
  width: 50%;
  border: 1px solid #ddd;
  background: #f1f1f1;
  overflow-y: scroll;
  display: flex; }

#mensajes {
  height: auto;
  margin-left: 10px;
  margin-right: 10px; }

.texto {
  padding: 4px;
  background: #fff; }

.legend {
  font-family: 'Hurricane', cursive;
  color: #ff6a06;
  text-align: center;
  font-size: 50px;
  position: flex;
  margin-top: 50px;
  animation: fadeInAnimation ease 1.5s; }

.fondo_oscurecido {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  padding: 1%; }

.mi_nav_link {
  margin: 20px;
  color: #fa8908; }

.mi_nav_link:hover {
  color: #f3ab59; }

section strong {
  font-family: Arial, Helvetica, sans-serif;
  color: azure; }

.login {
  margin-right: 2.5%;
  margin-top: 0.25%; }

.bg-menu {
  background-color: rgba(0, 0, 0, 0.96);
  border-radius: 10px; }

.mi_dropdown {
  color: #fa8908;
  margin: 0%; }

.boton_search {
  border-color: #fa8908; }

.boton_search:hover {
  color: #fa8908; }

#posteos {
  font-size: larger;
  display: flex;
  justify-content: right;
  margin-right: 2%; }
  #posteos strong {
    justify-content: flex-end;
    position: absolute;
    margin-right: 1%; }
  #posteos ul {
    list-style: none;
    padding: 20px;
    margin-top: 5%;
    text-align: right;
    background-color: rgba(0, 0, 0, 0.85);
    border-radius: 20px; }
  #posteos aside {
    font-size: medium;
    color: bisque; }
    #posteos aside a {
      color: bisque; }
    #posteos aside a:hover {
      color: #f7b05b; }
  #posteos a {
    color: #fa8908;
    text-decoration: underline; }
  #posteos a:hover {
    color: #f3ab59;
    text-decoration: none; }

.videos_inicio {
  margin-top: 3%;
  margin-left: 1.5%; }

.videos_inicio h2 a {
  color: #fa8908; }

.videos_inicio h2 a:hover {
  color: #f3ab59; }

.grid_videos {
  display: grid;
  grid-template-columns: repeat(3, 32%);
  grid-template-rows: repeat(2, 25%);
  grid-template-areas: "videos1 videos2 videos3" "videos4 videos5 videos6";
  gap: 25% 1%; }

.videos1 {
  grid-area: videos1; }

.videos2 {
  grid-area: videos2; }

.videos3 {
  grid-area: videos3; }

.videos4 {
  grid-area: videos4; }

.videos5 {
  grid-area: videos5; }

.videos6 {
  grid-area: videos6; }

.juegos_nav {
  text-align: center; }

.buscar_juegos ul {
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: darken;
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  padding-left: 0; }
  .buscar_juegos ul li {
    background-color: rgba(0, 0, 0, 0.151);
    border-radius: 10px;
    padding: 10px;
    margin: 1%; }

.buscar_juegos a {
  color: #fa8908; }

.buscar_juegos a:hover {
  color: #f3ab59; }

.juegos_container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 33%);
  grid-template-rows: repeat(3, 33%);
  grid-template-areas: "jueguito1 jueguito2 jueguito3" "jueguito4 jueguito5 jueguito6" "jueguito7 jueguito8 jueguito9";
  margin-top: 5%;
  margin-left: 1%; }
  .juegos_container div:hover {
    transform: scale(1.05); }
  .juegos_container img {
    height: 90%;
    width: 90%;
    border-radius: 15px; }

.jueguito1 {
  grid-area: jueguito1; }

.jueguito2 {
  grid-area: jueguito2; }

.jueguito3 {
  grid-area: jueguito3; }

.jueguito4 {
  grid-area: jueguito4; }

.jueguito5 {
  grid-area: jueguito5; }

.jueguito6 {
  grid-area: jueguito6; }

.jueguito7 {
  grid-area: jueguito7; }

.jueguito8 {
  grid-area: jueguito8; }

.jueguito9 {
  grid-area: jueguito9; }

.juegos_container_wrapper {
  height: 100%; }

.contacto {
  text-align: center;
  background-image: url(../images/heimer.jpg);
  background-position: center;
  color: #fa8908;
  border-radius: 25px;
  padding: 1.5%;
  padding-bottom: 5%; }
  .contacto legend {
    background-color: rgba(0, 0, 0, 0.5); }

.container_contacto {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  height: 100vh; }

.wrapper_contacto {
  margin-top: 1%;
  display: flex;
  flex-direction: column;
  align-items: center; }

.h2_videos {
  text-align: center; }

.videos_wrapper {
  height: 100vh; }

.container_gridvideos {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 33%);
  grid-template-rows: repeat(3, 33%);
  grid-template-areas: "video1 video2 video3" "video4 video5 video6" "video7 video8 video9";
  margin-top: 5%;
  margin-left: 1%; }
  .container_gridvideos iframe {
    width: 90%;
    height: 90%;
    border-radius: 15px; }

.video1 {
  grid-area: video1; }

.video2 {
  grid-area: video2; }

.video3 {
  grid-area: video3; }

.video4 {
  grid-area: video4; }

.video5 {
  grid-area: video5; }

.video6 {
  grid-area: video6; }

.video7 {
  grid-area: video7; }

.video8 {
  grid-area: video8; }

.video9 {
  grid-area: video9; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?rs9uwr");
  src: url("../fonts/icomoon.eot?rs9uwr#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?rs9uwr") format("truetype"), url("../fonts/icomoon.woff?rs9uwr") format("woff"), url("../fonts/icomoon.svg?rs9uwr#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block; }

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-instagram:before {
  content: "\ea92"; }

.icon-telegram:before {
  content: "\ea95"; }

.icon-twitter:before {
  content: "\ea96"; }

.icon-youtube:before {
  content: "\ea9d"; }

.icon-twitch:before {
  content: "\ea9f"; }

* {
  margin: 0;
  padding: 0; }

html {
  height: 100%; }

body {
  background-image: url("../images/fondo_index.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 120vh; }

header {
  margin-top: 1%; }

.fondo_header {
  background-image: url(../images/fondo_header.jpg);
  background-position: center;
  color: #fa8908;
  text-align: center;
  width: 100%; }

.titulo {
  text-align: center; }

nav button a {
  text-decoration: none;
  color: white; }

nav button a:hover {
  color: #fa8908; }

.container_footer {
  display: flex;
  flex-direction: column; }

.audio {
  align-self: flex-start; }

.copyright {
  align-self: center; }

footer {
  background-color: rgba(0, 0, 0, 0.9);
  color: #fa8908;
  font-family: sans-serif;
  padding: 1%;
  width: 100%;
  margin-top: auto; }
  footer nav {
    text-align: center; }
  footer a {
    color: #f3ab59;
    margin: 0px 5px; }
  footer a:hover {
    color: #f8bc72; }

a {
  text-decoration: none; }

.social_bar {
  position: fixed;
  right: 0;
  bottom: 18%;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 100; }

.icon {
  color: white;
  text-decoration: none;
  padding: .8rem;
  display: flex;
  transition: all .5s; }

.icon-twitter {
  background-color: aqua; }

.icon-instagram {
  background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%); }

.icon-youtube {
  background-color: red; }

.icon-twitch {
  background-color: purple; }

.icon-telegram {
  background-color: darkturquoise; }

.icon:first-child {
  border-radius: 1rem 0 0 0; }

.icon:last-child {
  border-radius: 0 0 0 1rem; }

@media screen and (max-width: 1000px) {
  .juegos_container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 49%);
    grid-template-rows: repeat(4, 24%);
    grid-template-areas: "jueguito1 jueguito2" "jueguito3 jueguito4" "jueguito5 jueguito6" "jueguito7 jueguito8";
    margin-top: 5%;
    margin-left: 1%; }
  .jueguito1 {
    grid-area: jueguito1; }
  .jueguito2 {
    grid-area: jueguito2; }
  .jueguito3 {
    grid-area: jueguito3; }
  .jueguito4 {
    grid-area: jueguito4; }
  .jueguito5 {
    grid-area: jueguito5; }
  .jueguito6 {
    grid-area: jueguito6; }
  .jueguito7 {
    grid-area: jueguito7; }
  .jueguito8 {
    grid-area: jueguito8; }
  .jueguito9 {
    display: none; }
  .container_gridvideos {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 49%);
    grid-template-rows: repeat(4, 24%);
    grid-template-areas: "video1 video2" "video4 video3" "video5 video6" "video7 video8 ";
    margin-top: 5%;
    margin-left: 1%; }
    .container_gridvideos iframe {
      width: 90%;
      height: 90%;
      border-radius: 15px; }
  .video1 {
    grid-area: video1; }
  .video2 {
    grid-area: video2; }
  .video3 {
    grid-area: video3; }
  .video4 {
    grid-area: video4; }
  .video5 {
    grid-area: video5; }
  .video6 {
    grid-area: video6; }
  .video7 {
    grid-area: video7; }
  .video8 {
    grid-area: video8; }
  .video9 {
    display: none; } }

@media screen and (max-width: 610px) {
  .juegos_container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 98%);
    grid-template-rows: repeat(3, 32%);
    grid-template-areas: "jueguito1" "jueguito2" "jueguito3";
    margin-top: 5%;
    margin-left: 1%;
    text-align: center; }
  .container_gridvideos {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(1, 98%);
    grid-template-rows: repeat(3, 32%);
    grid-template-areas: "video1" "video2" "video3";
    margin-top: 5%;
    margin-left: 1%;
    text-align: center; }
  .jueguito1 {
    grid-area: jueguito1; }
  .jueguito2 {
    grid-area: jueguito2; }
  .jueguito3 {
    grid-area: jueguito3; }
  .jueguito4 {
    grid-area: jueguito4; }
  .jueguito5 {
    grid-area: jueguito5; }
  .jueguito6 {
    grid-area: jueguito6; }
  .jueguito7 {
    grid-area: jueguito7; }
  .jueguito8 {
    grid-area: jueguito8; }
  .jueguito9 {
    display: none; }
  .jueguito9, .jueguito8, .jueguito7, .jueguito6, .jueguito5, .jueguito4 {
    display: none; }
  .video1 {
    grid-area: video1; }
  .video2 {
    grid-area: video2; }
  .video3 {
    grid-area: video3; }
  .video4 {
    grid-area: video4; }
  .video5 {
    grid-area: video5; }
  .video6 {
    grid-area: video6; }
  .video7 {
    grid-area: video7; }
  .video8 {
    grid-area: video8; }
  .video9 {
    display: none; }
  .video4, .video5, .video6, .video7, .video8 {
    display: none; } }

@media screen and (max-width: 550px) {
  .grid_videos {
    display: grid;
    grid-template-columns: repeat(1, 95%);
    grid-template-rows: repeat(2, 25%);
    grid-template-areas: "videos1" "videos2";
    gap: 25% 1%; }
  .videos1 {
    grid-area: videos1; }
  .videos2 {
    grid-area: videos2; }
  .videos3,
  .videos4,
  .videos5,
  .videos6 {
    display: none; }
  .social_bar {
    display: none; } }

@media screen and (max-width: 340px) {
  .juegos_container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 98%);
    grid-template-rows: repeat(3, 33%);
    grid-template-areas: "jueguito1" "jueguito2" "jueguito3";
    margin-top: 5%;
    margin-left: 1%;
    text-align: center;
    gap: 10%; }
  .container_gridvideos {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(1, 98%);
    grid-template-rows: repeat(3, 33%);
    grid-template-areas: "video1 " "video2" "video3";
    margin-top: 5%;
    text-align: center;
    margin-left: 1%; }
  .jueguito1 {
    grid-area: jueguito1; }
  .jueguito2 {
    grid-area: jueguito2; }
  .jueguito3 {
    grid-area: jueguito3; }
  .jueguito4 {
    grid-area: jueguito4; }
  .jueguito5 {
    grid-area: jueguito5; }
  .jueguito6 {
    grid-area: jueguito6; }
  .jueguito7 {
    grid-area: jueguito7; }
  .jueguito8 {
    grid-area: jueguito8; }
  .jueguito9 {
    display: none; }
  .jueguito9, .jueguito8, .jueguito7, .jueguito6, .jueguito5, .jueguito4 {
    display: none; }
  .video1 {
    grid-area: video1; }
  .video2 {
    grid-area: video2; }
  .video3 {
    grid-area: video3; }
  .video4 {
    grid-area: video4; }
  .video5 {
    grid-area: video5; }
  .video6 {
    grid-area: video6; }
  .video7 {
    grid-area: video7; }
  .video8 {
    grid-area: video8; }
  .video9 {
    display: none; }
  .video4, .video5, .video6, .video7, .video8 {
    display: none; }
  /* COMUNIDAD */
  .tercer_item,
  .segundo_item {
    display: none; }
  .primer_item {
    width: 100%; } }

@keyframes fadeInAnimation {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
