$fondo-de-color: rgb(236, 165, 10);
$ancho: 100%;
$blue:#4285f4;
$green: green;
$h1Desktop: 25px;
$h1Mobile: 18px;
$parrafoDesktop: 16px;
$parrafoMobile: 12px;
$vista: 1024px;
$tipo-de-letra: verdana;
$alinear-al-centro: center;