.container_posteos
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
}
.posts
{
    margin-left: 0.5%;
    section 
    {
    background-color: black;
    margin-top: 0.5%;
    color: #fa8908;;
    border-radius: 10px;
    padding: 0.5%;
        article
        {
            margin-left: 1%;
        }
        p
        {
            color: bisque;
            margin-left: 3%;
        }
        h5
        {
            text-align: right;
            color: #f3ab59;
            margin-right: 0.5%;
        }
        a
        {
            color: #f3ab59;
        }
        a:hover
        {
            color: rgb(248, 188, 114);
        }
    }
}
.carousel-item > img
{
    vertical-align: 0%;
}
.publicar_boton
{
    display: flex;
    justify-content: center;
    border-radius: 10px;
    margin-top: 10px;
}
.publicar
{
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 10px;
}
.carrusel_videos
{
    margin-top: 5%;
    text-align: center;
    width: 80%;
    margin-left: 10%;
}
.negro
{
    
    background-color: black;
}
.izquierda
{
    justify-content: flex-start;
}
.derecha
{
    justify-content: flex-end;
}
.carrusel_item
{
    width: 32%;
}

