@import "sass2/mixins.scss";

.container_cuenta
{
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
}
fieldset
{
    border: none;
}
.cuenta 
{
    color: turquoise;
    text-align: center;
    background-image: url(../images/fondo_cuenta2.jpg);
    background-position: center;
    p
    {
        @include cuenta-propiedades
    }
}
label
{
    @include cuenta-propiedades
}
#GET-name, #GET-password
{
    background-color: black;
    color: aqua;
    margin: 10px 15px;
    text-align: center;
    padding: 20px;
}

.crear_cuenta 
{
    background-image: url(../images/fondo_cuenta.jpg);
    background-position: center;
    text-align: center;
    p
    {
        @include cuenta-propiedades
    }
}



#create-user, #create-password, #GET-email  
{
    background-color: black;
    color: aqua;
    margin: 10px 15px;
    padding: 20px;
}
::-ms-reveal
{
    border: 1px solid transparent;
    border-radius: 50%;
    box-shadow: 0 0 3px black;
    background-color: white;
}

.licencia p
{
    background-color: black;
    color: red;
}
.licencia a:hover
{
    color: aqua;
}

#create-acc
{
    border-radius: 25px;
    text-shadow: 3px 2px 1px #9daef5;
    box-shadow: 6px 5px 24px #666666;
    font-family: Arial;
    color: black;
    font-size: 25px;
    padding: 15px;
    text-decoration: none;
    background-image: linear-gradient(to bottom, #eb94d0, #2079b0);
}

#create-acc:active{
    background-image: linear-gradient(to bottom, #2079b0, #eb94d0);
}
