.contacto
{
    text-align: center;
    background-image: url(../images/heimer.jpg);
    background-position: center;
    color: #fa8908;
    border-radius: 25px;
    padding: 1.5%;
    padding-bottom: 5%;
    legend
    {
        background-color: rgba(0, 0, 0, 0.5);
    }
}
.container_contacto
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100vh;
}
.wrapper_contacto
{
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
}